Source: libarctica-core-jabus-socket-perl
Section: perl
Priority: optional
Build-Depends:
 cdbs,
 debhelper (>= 9),
Build-Depends-Indep:
 perl (>= 5.8.0),
Maintainer: Arctica Project Developers <devs@lists.arctica-project.org>
Uploaders:
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Homepage: https://arctica-project.org/
Vcs-Git: https://github.com/ArcticaProject/perl-Arctica-Core-JABus-Socket
Vcs-Browser: https://github.com/ArcticaProject/perl-Arctica-Core-JABus-Socket
Standards-Version: 4.0.0

Package: libarctica-core-jabus-socket-perl
Architecture: all
Depends:
 libjson-perl,
 ${perl:Depends},
 ${misc:Depends},
Description: Core Perl modules for the Arctica Framework
 FIXME: Some descripttive text needs to go here...
